requests~=2.32.4
python-dotenv==1.0.1
pytest==8.2.2
pyyaml~=6.0.2
jsonschema~=4.24.0
pydantic_settings~=2.10.1
pytest-html
pydantic~=2.11.6
pydantic_core~=2.33.2
PyJWT~=2.10.1
pydantic-settings
autoflake
flake8
black

openai~=1.98.0